{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Django App {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}" />
  </head>
  <body>
    <nav>
      <div class="dropdown">
        <a class="nawigacja">RSA</a>
        <div class="dropdown-content">
          <a href="/rsa_keys/#">Wygeneruj klucze</a>
          <a href="/rsa_encrypt/#">Zaszyfruj wiadomość</a>
          <a href="/rsa_decrypt/#">Odszyfruj wiadomość</a>
        </div>
      </div>
      <div class="dropdown">
        <a class = "nawigacja">Protokół Diffiego-Hellmana</a> 
        <div class="dropdown-content">
          <a href="/diffie_hellman_public/#">Generuj klucz publiczny</a>
          <a href="/diffie_hellman_shared/#">Oblicz wspólny sekret</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="nawigacja">Digital Signature Standard</a>
        <div class="dropdown-content">
          <a href="/dss-sign/#">Wygeneruj podpis</a>
          <a href="/dss-verify/#">Zweryfikuj podpis</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="nawigacja">ECDH</a>
        <div class="dropdown-content">
          <a href="/ecdh_public/#">Generuj klucz publiczny</a>
          <a href="/ecdh_shared/#">Generuj klucz sesji</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="nawigacja">ANALIZA STATYSTYCZNA</a>
        <div class="dropdown-content">
          <a href="/multiply_points/#">Algorytmy na dodawanie punktów</a>
          <a href="/crt/#">Chińskie twierdzenie o resztach</a>
          <a href="/exponentiation/#">Algorytmy potęgowania</a>
          <a href="/prime_algorithms_comparison/#">Algorytmy sprawdzania liczb pierwszych</a>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %} {% endblock %} {% block selection_bar %} {% endblock %} {% block subpage %} {% endblock %}
    </div>
  </body>
</html>
